{% extends "base.html" %}
{% block title %}My Note{% endblock %}

{% block content %}
<style>
  .container {
    padding: 5px;
    width: 70%;
  }

  .card {
    margin: 10px;
  }

  .card-header {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
</style>

<h1 align="center">Notes</h1>

<!-- Search form creation  -->
<div class="container">
  <form action="/search" method="post">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
      </div>
      <!--     input box from where we search for a particular users posts -->
      <input name="username" type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
      </div>
    </div>
  </form>
  <!--get flashed message based on event in app.py-->
  {% with user = get_flashed_messages() %}
  {% if user %}
  <div class="alert alert-secondary" role="alert">
    {% for usr in user %}
    <p>{{ usr }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
</div>

<div class="container">
  <!--get all avalable posts and place it values in its corresponding div-->
  {% for post in posts.items %}
  <div class="card">

    <div class="card-header">
      {{ post.username }}
    </div>


    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.post_time }}</h6>
      <p class="card-text">{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
  <!--pagination buttons-->
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

  {% if page_num %}
  {% if posts.page == page_num %}
  <a class="btn btn-info mb-4" href="{{url_for('index', page=page_num)}}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{url_for('index', page=page_num)}}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  <a class="btn btn-info mb-4" href="{{url_for('index', page=page_num)}}">{{ page_num }}</a>
  {% endif %}
  {% endfor %}
  {% endblock %}